
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title>后台登录</title>
<!-- layui使用的css -->
<link href="../layui/css/layui.css" type="text/css" rel="stylesheet" />
<!-- 登录页使用的css -->
<link href="../css/login/login.css" type="text/css" rel="stylesheet" />

<!-- layui使用的js -->
<script src="../layui/layui.js"></script>

<!-- 登录提交操作 -->
<script src="../base/js/jquery-1.8.3.js"></script>
<script src="../base/js/md5.min.js"></script>
<script src="../base/js/common.js"></script>
<script src="../js/login/login.js"></script>

</head>
<body>

	<div class="login">
		<div class="message">客户管理系统-登录</div>
		<div id="darkbannerwrap"></div>

		<form method="post" action="">
			<input name="action" value="login" type="hidden" /> <input
				name="name" placeholder="用户名" required="" type="text" />
			<hr class="hr15" />
			<input name="password" placeholder="密码" required="" type="password" />
			<hr class="hr15" />
			<input value="登录" style="width:100%;" type="submit" id="loginBtn"/>
			<hr class="hr20" />
			<a onClick="forgetPass()">忘记密码</a>
		</form>


	</div>

	<div class="copyright">
		© 2018客户管理系统<!--  by<a href="#" target="_blank">阿飞</a> -->
	</div>

</body>

<script type="text/javascript">
layui.use('upload', function(){});
	function forgetPass() {
		layer.open({
			title : '注意',
			content : '请联系管理员'
		});
	}
</script>
</html>