<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8"/>
	<title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
	<meta name="description" content="Bootstrap Metro Dashboard"/>
	<meta name="author" content="Dennis Ji"/>
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina"/>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="../../css/main/bootstrap.min.css" rel="stylesheet"/>
	<link href="../../css/main/bootstrap-responsive.min.css" rel="stylesheet"/>
	<link id="base-style" href="../../css/main/style.css" rel="stylesheet"/>
	<link id="base-style-responsive" href="../../css/main/style-responsive.css" rel="stylesheet"/>
	<!-- end: CSS -->

</head>

<body style="width: 100%;">
<div style="height: 100%;width: 100%;text-align: center;">欢迎登录客户关系管理系统</div>



</body>
</html>
