<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8"/>
	<title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
	<meta name="description" content="Bootstrap Metro Dashboard"/>
	<meta name="author" content="Dennis Ji"/>
	<meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina"/>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- end: Mobile Specific -->

	<!-- start: CSS -->
	<link id="bootstrap-style" href="../../css/main/bootstrap.min.css" rel="stylesheet"/>
  <!-- Libraries CSS Files -->
  <link href="../../css/main/font-awesome.min.css" rel="stylesheet"/>

  <!-- Main Stylesheet File -->
  <link href="../../css/welcome/style.css" rel="stylesheet"/>
	<!-- end: CSS -->

</head>

<body style="height:calc(100vh)">
  <section id="portfolio" name="portfolio"></section>
  <div id="portfoliowrap" style="height:calc(100vh)">
    <div class="container">
      <div class="row">
        <h3>欢迎您进入客户管理系统</h3>
        <!-- <h4 style="color: #FFFFFF">系统分为三大模块</h4>
        <br/>
        <br/>
        <div class="col-lg-4 port-space" style="margin-top: 50px;">
          <a href="#"><span style="color: white;font-size: 50px;">用户管理</span></a>
        </div>
        <div class="col-lg-4 port-space" style="margin-top: 50px;">
          <a href="#"><span style="color: white;font-size: 50px;">客户管理</span></a>
        </div>
        <div class="col-lg-4 port-space" style="margin-top: 50px;">
          <a href="#"><span style="color: white;font-size: 50px;">商品管理</span></a>
        </div> -->
      </div>
    </div>
    <!-- /container -->
  </div>
  <!-- /portfoliowrap -->



</body>
</html>
